@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url('../assets/img/mintro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    color: #000;
}

@keyframes bodyani{
    0%{
        overflow: hidden;
    }
    75%{
        overflow: hidden;
    }
    100%{
        overflow: visible;
    }
}

.bodyclass{
    animation: bodyani 4s forwards;
}

@keyframes loadingdelay{
    0%{
        opacity: 0;
    }
    98%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* Userinterface */
.useri{
    height: 100vh;
}

/* Start Header Icon */
header{
   width: 100%;
   height: 65px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
}

.headerimage{
    opacity: 0;
}

.headerimg{
    animation: loadingdelay 3s forwards;
}

.fheader{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/herobg.jpg');
    position: fixed;

    z-index: 3;

    animation: loadingdelay 3.2s forwards;
}


/* End Header Icon */

/* Start Loading  */
.loading{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/herobg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;

    display: none;

}

.delbar{
    animation: delbarani 3s forwards;
}

@keyframes delbarani{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loadingimg{
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingbar{
    width: 96%;
    height: 10px;
    background-color: #111;
    border-radius: 10px;

    margin: 100px auto;

    position: relative;
}

@media only screen and (max-width: 1000px){
    .loadingimg{
        height: 392px;
    }
    .loadingbar{
        margin: 0px auto;
    }
  
}

.loadingbar .loadingprocess{
    width: 0;
    height: 10px;
    background-color: #d42c0f;
    border-radius: 10px;

    animation: loadingani 3s forwards ease-in-out;
}

@keyframes loadingani{
    0%{
        width: 1%;
    }
    30%{
        width: 25%;
    }
    60%{
        width: 70%;
    }
    85%{
        width: 90%;
    }
    100%{
        width: 100%;
    }
}

.loadingbar span{
    color: aquamarine;
    text-transform: uppercase;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.loadingbar .dots{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingbar .dots li{
    margin-left: 1px;

    animation: dotsani 1.5s infinite alternate;
}

.dots li:nth-of-type(2){
    animation-delay: 0.5s;
}

.dots li:nth-of-type(3){
    animation-delay: 1s;
}

@keyframes dotsani{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* End Loading  */

.first{
    width: 100%;
    height: 800px;
    background-color: #111;

}

.first1{
    animation: loadingdelay 3.2s forwards;
}

/* Start Nav  */
#nav{
    display: none;
}

/* Start Enter Game Button */
.menuicons{
    margin-left: 400px;
    margin-top: 430px;
    cursor: pointer;
    position: relative;

    animation: menuiconsani 1.5s;

    z-index: 2;
}

.menuicons::before{
    content: 'Enter Game';
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: yellow;
    font-size: 2.2rem;
    text-transform: uppercase;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 26px;
    left: 154px;
}

@keyframes menuiconsani{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 1000px){
    .menuicons{
        margin-left: 220px;
        margin-top: 280px;
    }
}
/* End Enter Game Button */


/* Start Hero roles button  */
.menuitems{
    color: #fff;
    background-color: #585959;
    text-align: center;
    border: 1px solid #fff;
    border-right: none; 
    padding: 8px 15px;
    cursor: pointer;

    position: relative;

    transition: all 0.3s;

}


@media (max-height: 395px){
    .menuitems{
        padding: 4px 15px;
    }
    .fheader{
        height: 60px;
    }
    .mheros{
        width: 78px;
    }
    .menuicons{
        margin-top: 180px;
    }
    .loadingimg{
        height: 300px;
    }
    .loadingbar{
        margin: 0px auto;
    }
  
}

.menuitems:hover{
    color: #000;
    background-color: #cfd4d1;
}

.menuitems::before{
    content: '';
    width: 15px;
    height: 94%;
    background-color: #585959;
    border: 1px solid #fff;
    border-left: none;

    position: absolute;
    top: -1px;
    right: 0;

    transform: translate(14px);

    transition: all 0.2s;
}

.menuitems:hover::before{
    background-color: #d42c0f;
    height: 94%;
}

.menuitems::after{
    content: '';
    width: 14px;
    height: 4px;
    border-left: 1px solid #fff;

    position: absolute;
    bottom: 0;
    right: 0;

    transform: translate(14px) skew(-27deg);
}

.activeitems{
    color: #000;
    background-color: #cfd4d1;
}

.activeitems::before{
    background-color: #d42c0f;
    height: 94%;
}
/* End Hero roles button  */

/* End Nav */

/* For Landscape Mode */
@media screen and (orientation: portrait) {
    body{
        background: linear-gradient(
                    rgba(0,0,0,0.85),
                    rgba(0,0,0,0.85)
                     ),url('../assets/img/mintro.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    body::before{
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('../assets/img/rotate.png');
        background-repeat: no-repeat;
        background-position: center;

        position: absolute;
        top: 42%;
        left: 50%;

        transform: translate(-50%,-50%);
    }

    body::after{
        content: 'Please rotate your screen';
        width: 100%;
        height: 100%;
        color: #888;
        font-size: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
       
        position: absolute;
        top: 0;
        left: 0;

        transform: translateY(35px);

        animation: ani 1.7s;
    }

    @keyframes ani{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .menuicons{
        display: none;
    }

    .first, #nav, .alls{
        display: none;
    }

    #ironmanprofile{
        opacity: 0;
    }
}

 /* Start All Heros */
 .alls{
    width: 85%;
    height: 500px;

    position: absolute;
    top: 29%;
    left: 14%;
 }

 .boxs{
    width: 155px;
    height: 100px;
    border: 1px solid #888;
    margin-bottom: 10px;
    margin-left: 11px;
    cursor: pointer;

    position: relative;

    overflow: hidden;

    opacity: 0;
 }

 .heros{
    opacity: 1;
 }

 .hheros{
    animation: loadingdelay 3.2s forwards;
 }

/* End All Heros */


/* Footer  */
footer{
    width: 100%;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;

    position: absolute;
    bottom: 10px;
}
