@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url('../assets/img/mintro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


}



/* Userinterface */
.useri{
    height: 100vh;
}

/* Start Header Icon */
header{
   width: 100%;
   height: 65px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
}

.headerimage{
    display: none;
}

.headerimg{
    display: block;
}

.fheader{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/herobg.jpg');
    position: fixed;

    z-index: 3;
}


/* End Header Icon */

.first{
    width: 100%;
    height: 800px;
    background-color: #111;
}

/* Start Nav  */

/* Start Enter Game Button */
.menuicons{
    margin-left: 400px;
    margin-top: 470px;
    cursor: pointer;
    position: relative;

    animation: menuiconsani 1.5s;

    z-index: 2;
}

.menuicons::before{
    content: 'Enter Game';
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: yellow;
    font-size: 2.2rem;
    text-transform: uppercase;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 26px;
    left: 154px;
}

@keyframes menuiconsani{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 1000px) and (max-height: 500px){
    .menuicons{
        margin-left: 220px;
        margin-top: 335px;
    }
}
/* End Enter Game Button */


/* Start Hero roles button  */
.menuitems{
    color: #fff;
    background-color: #585959;
    text-align: center;
    border: 1px solid #fff;
    border-right: none; 
    padding: 8px 15px;
    cursor: pointer;

    position: relative;

    transition: all 0.3s;
}

@media (max-height: 390px){
    .menuitems{
        padding: 4px 15px;
    }
    .fheader{
        height: 60px;
    }
    .mheros{
        width: 82px;
    }
    .menuicons{
        margin-top: 230px;
    }
    
}

.menuitems:hover{
    color: #000;
    background-color: #cfd4d1;
}

.menuitems::before{
    content: '';
    width: 15px;
    height: 94%;
    background-color: #585959;
    border: 1px solid #fff;
    border-left: none;

    position: absolute;
    top: -1px;
    right: 0;

    transform: translate(14px);

    transition: all 0.2s;
}

.menuitems:hover::before{
    background-color: #d42c0f;
    height: 94%;
}

.menuitems::after{
    content: '';
    width: 14px;
    height: 4px;
    border-left: 1px solid #fff;

    position: absolute;
    bottom: 0;
    right: 0;

    transform: translate(14px) skew(-27deg);
}

.activeitems{
    color: #000;
    background-color: #cfd4d1;
}

.activeitems::before{
    background-color: #d42c0f;
    height: 94%;
}
/* End Hero roles button  */

/* End Nav */

/* For Landscape Mode */
@media screen and (orientation: portrait) {
    body{
        background: linear-gradient(
                    rgba(0,0,0,0.85),
                    rgba(0,0,0,0.85)
                     ),url('../assets/img/mintro.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    body::before{
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('../assets/img/rotate.png');
        background-repeat: no-repeat;
        background-position: center;

        position: absolute;
        top: 42%;
        left: 50%;

        transform: translate(-50%,-50%);
    }

    body::after{
        content: 'Please rotate your screen';
        width: 100%;
        height: 100%;
        color: #888;
        font-size: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
       
        position: absolute;
        top: 0;
        left: 0;

        transform: translateY(35px);

        animation: ani 1.7s;
    }

    @keyframes ani{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .menuicons{
        display: none;
    }

    .first, #nav, .alls{
        display: none;
    }
}

 /* Start All Heros */
 .alls{
    width: 85%;
    height: 500px;

    position: absolute;
    top: 29%;
    left: 14%;
 }

 .boxs{
    width: 155px;
    height: 100px;
    border: 1px solid #888;
    margin-bottom: 10px;
    margin-left: 11px;

    position: relative;

    overflow: hidden;

    opacity: 0;
 }

 .heros{
    opacity: 1;
 }

/* End All Heros */

/* Footer  */
footer{
    width: 100%;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;

    position: absolute;
    bottom: 10px;
}
