@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ironmanprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#captainamericaprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#hulkprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#mantisprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#rocketprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#spidermanprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#starlordprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#grootprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#scarletwitchprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#visionprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#thorprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#wintersoldierprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#ronanprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#deadpoolprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#colossusprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#captainmarvelprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#ironfistprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#yonduprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

#hawkeyeprofile{
    font-family: 'Finlandica', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/heroprofilebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    display: none;
}

/* Hero */

.herophoto{
    width: 370px;
    height: 320px;    

    display: flex;
    justify-content: center;
    align-items: center;

}

#ironmanprofile .herophoto .ironmanimg{
    width: 720px;
    margin: 75px 0 0 30px;
}

#captainamericaprofile .herophoto .captainamericaimg{
    
    margin: 75px 100px 0 0;
}

#hulkprofile .herophoto .hulkimg{
    width: 1000px;
    margin: 90px 30px 0 0;
}

#mantisprofile .herophoto .mantisimg{
    width: 1000px;
    margin: 90px 0 0 20px;
}

#rocketprofile .herophoto .rocketimg{
    width: 800px;
    margin: 60px 30px 0 0;
}

#spidermanprofile .herophoto .spidermanimg{
    width: 1100px;
    margin: 80px 0 0 0;
}

#starlordprofile .herophoto .starlordimg{
    width: 950px;
    margin: 110px 0 0 0;
}

#grootprofile .herophoto .grootimg{
    width: 1100px;
    margin: 110px 0 0 30px;
}

#scarletwitchprofile .herophoto .scarletwitchimg{
    width: 1000px;
    margin: 80px 25px 0 0;
}

#visionprofile .herophoto .visionimg{
    width: 1000px;
    margin: 80px 0 0 0;
}

#thorprofile .herophoto .thorimg{
    width: 1000px;
    margin: 85px 0 0 0;
}

#wintersoldierprofile .herophoto .wintersoldierimg{
    width: 1100px;
    margin: 95px 0 0 10px;
}

#ronanprofile .herophoto .ronanimg{
    width: 1100px;
    margin: 160px 20px 0 0;
}

#deadpoolprofile .herophoto .deadpoolimg{
    width: 1100px;
    margin: 110px 25px 0 0;
}

#colossusprofile .herophoto .colossusimg{
    width: 1050px;
    margin: 130px 0 0 20px;
}

#captainmarvelprofile .herophoto .captainmarvelimg{
    width: 1100px;
    margin: 100px 20px 0 0;
}

#ironfistprofile .herophoto .ironfistimg{
    width: 1050px;
    margin: 90px 0 0 10px;
}

#yonduprofile .herophoto .yonduimg{
    width: 1050px;
    margin: 80px 20px 0 0;
}

#hawkeyeprofile .herophoto .hawkeyeimg{
    width: 1000px;
    margin: 80px 0 0 0;
}


.backbtn{
    width: 115px;
    cursor: pointer;

    position: absolute;
    left: 10px;
    top: 0;
}

.pftitle{
    color: silver;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

/* Skills */

.skillcontent{
    display: flex;

    margin-bottom: 20px;
}

.skillcontent img{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;

    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.4);
}

.skillbtn{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid grey;
}

.skilltexttext1, .skilltexttext2, .skilltexttext3, .skilltexttext4, .skilltexttext5{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
}

.skilltext1, .skilltext2, .skilltext3, .skilltext4, .skilltext5{
    width: 500px;
    height: 350px;
    color: antiquewhite;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    position: relative;

}

.skilltext1 span{
    font-size: 2rem;
}

.skilltext1 p, .skilltext2 p, .skilltext3 p, .skilltext4 p, .skilltext5 p{
    font-size: 1.1rem;
    margin-top: 20px;
}

.skilltext1 small, .skilltext2 small, .skilltext3 small, .skilltext4 small, .skilltext5 small{
    color: #888;

    position: absolute;
    left: 41%;
    bottom: -43%;
}

.skilltext2 .skilltitle, .skilltext3 .skilltitle, .skilltext4 .skilltitle, .skilltext5 .skilltitle{
    font-size: 2rem;
    color: antiquewhite;
}

.skilltext2 h6, .skilltext3 h6, .skilltext4 h6, .skilltext5 h6{
    letter-spacing: 1px;
}

.skilltext2 span, .skilltext3 span, .skilltext4 span, .skilltext5 span{
    font-size: 1rem;
    color: #16b8c7;
}


.skilltextcontrol{
    opacity: 0;
}



/* Details */

.detailgp{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.details h2{
    font-size: 2.7rem;
    color: #e8b72e;
    letter-spacing: 1px;
}

.details h4 , .details h5{
    color: #999;
    width: 280px;
}

.details b{
    color: #ddd;
}

.percentbar{
    width: 250px;
    height: 10px;
    background-color: #111;

    position: relative;
}

.percentbar span{
    width: 100%;
    height: 100%;
    background-color: #ab810e;

    position: absolute;
}

#ironmanprofile .percentbar span.bar1{
    width: 100%;
}

#ironmanprofile .percentbar span.bar2{
    width: 15%;
}

#ironmanprofile .percentbar span.bar3{
    width: 80%;
}

#ironmanprofile .percentbar span.bar4{
    width: 40%;
}

#captainamericaprofile .percentbar span.bar1{
    width: 80%;
}

#captainamericaprofile .percentbar span.bar2{
    width: 60%;
}

#captainamericaprofile .percentbar span.bar3{
    width: 80%;
}

#captainamericaprofile .percentbar span.bar4{
    width: 35%;
}

#hulkprofile .percentbar span.bar1{
    width: 80%;
}

#hulkprofile .percentbar span.bar2{
    width: 80%;
}

#hulkprofile .percentbar span.bar3{
    width: 60%;
}

#hulkprofile .percentbar span.bar4{
    width: 80%;
}

#mantisprofile .percentbar span.bar1{
    width: 20%;
}

#mantisprofile .percentbar span.bar2{
    width: 58%;
}

#mantisprofile .percentbar span.bar3{
    width: 20%;
}

#mantisprofile .percentbar span.bar4{
    width: 100%;
}

#rocketprofile .percentbar span.bar1{
    width: 100%;
}

#rocketprofile .percentbar span.bar2{
    width: 20%;
}

#rocketprofile .percentbar span.bar3{
    width: 35%;
}

#rocketprofile .percentbar span.bar4{
    width: 20%;
}

#spidermanprofile .percentbar span.bar1{
    width: 80%;
}

#spidermanprofile .percentbar span.bar2{
    width: 20%;
}

#spidermanprofile .percentbar span.bar3{
    width: 100%;
}

#spidermanprofile .percentbar span.bar4{
    width: 35%;
}

#starlordprofile .percentbar span.bar1{
    width: 80%;
}

#starlordprofile .percentbar span.bar2{
    width: 21%;
}

#starlordprofile .percentbar span.bar3{
    width: 100%;
}

#starlordprofile .percentbar span.bar4{
    width: 20%;
}

#grootprofile .percentbar span.bar1{
    width: 20%;
}

#grootprofile .percentbar span.bar2{
    width: 80%;
}

#grootprofile .percentbar span.bar3{
    width: 35%;
}

#grootprofile .percentbar span.bar4{
    width: 100%;
}

#scarletwitchprofile .percentbar span.bar1{
    width: 100%;
}

#scarletwitchprofile .percentbar span.bar2{
    width: 21%;
}

#scarletwitchprofile .percentbar span.bar3{
    width: 20%;
}

#scarletwitchprofile .percentbar span.bar4{
    width: 35%;
}

#visionprofile .percentbar span.bar1{
    width: 100%;
}

#visionprofile .percentbar span.bar2{
    width: 38%;
}

#visionprofile .percentbar span.bar3{
    width: 38%;
}

#visionprofile .percentbar span.bar4{
    width: 20%;
}

#thorprofile .percentbar span.bar1{
    width: 80%;
}

#thorprofile .percentbar span.bar2{
    width: 40%;
}

#thorprofile .percentbar span.bar3{
    width: 60%;
}

#thorprofile .percentbar span.bar4{
    width: 60%;
}

#wintersoldierprofile .percentbar span.bar1{
    width: 100%;
}

#wintersoldierprofile .percentbar span.bar2{
    width: 37%;
}

#wintersoldierprofile .percentbar span.bar3{
    width: 37%;
}

#wintersoldierprofile .percentbar span.bar4{
    width: 37%;
}

#ronanprofile .percentbar span.bar1{
    width: 35%;
}

#ronanprofile .percentbar span.bar2{
    width: 80%;
}

#ronanprofile .percentbar span.bar3{
    width: 20%;
}

#ronanprofile .percentbar span.bar4{
    width: 100%;
}

#deadpoolprofile .percentbar span.bar1{
    width: 100%;
}

#deadpoolprofile .percentbar span.bar2{
    width: 40%;
}

#deadpoolprofile .percentbar span.bar3{
    width: 85%;
}

#deadpoolprofile .percentbar span.bar4{
    width: 20%;
}

#colossusprofile .percentbar span.bar1{
    width: 60%;
}

#colossusprofile .percentbar span.bar2{
    width: 80%;
}

#colossusprofile .percentbar span.bar3{
    width: 40%;
}

#colossusprofile .percentbar span.bar4{
    width: 100%;
}

#captainmarvelprofile .percentbar span.bar1{
    width: 100%;
}

#captainmarvelprofile .percentbar span.bar2{
    width: 20%;
}

#captainmarvelprofile .percentbar span.bar3{
    width: 60%;
}

#captainmarvelprofile .percentbar span.bar4{
    width: 35%;
}

#ironfistprofile .percentbar span.bar1{
    width: 80%;
}

#ironfistprofile .percentbar span.bar2{
    width: 60%;
}

#ironfistprofile .percentbar span.bar3{
    width: 60%;
}

#ironfistprofile .percentbar span.bar4{
    width: 38%;
}

#yonduprofile .percentbar span.bar1{
    width: 100%;
}

#yonduprofile .percentbar span.bar2{
    width: 26%;
}

#yonduprofile .percentbar span.bar3{
    width: 40%;
}

#yonduprofile .percentbar span.bar4{
    width: 24%;
}

#hawkeyeprofile .percentbar span.bar1{
    width: 100%;
}

#hawkeyeprofile .percentbar span.bar2{
    width: 20%;
}

#hawkeyeprofile .percentbar span.bar3{
    width: 35%;
}

#hawkeyeprofile .percentbar span.bar4{
    width: 20%;
}

@media (max-width: 1000px){
    .pftitle{
        font-size: 1.6rem;
    }
    .skillcontent .skillicon{
        width: 65px;
    }
    .skilltext1 span{
        font-size: 1.5rem;
    }
    .skilltext1 p, .skilltext2 p, .skilltext3 p, .skilltext4 p{
        font-size: 1rem;
        margin-top: 20px;
    }
    .skilltext2 .skilltitle, .skilltext3 .skilltitle, .skilltext4 .skilltitle{
        font-size: 1.5rem;
        color: antiquewhite;
    }
    .skilltext1, .skilltext2, .skilltext3, .skilltext4{
        padding: 40px 25px;

        display: block;
    }

    .skilltext1 small, .skilltext2 small, .skilltext3 small, .skilltext4 small{
        color: #888;
    
        position: absolute;
        left: 32%;
        bottom: -8%;
    }
    .herophoto img{
        width: 540px;
    }

    .detailgp{
        height: 300px;
        padding-left: 120px;
    }
    .details h2{
        font-size: 2rem;
    }
    .details h4 , .details h5{
        font-size: 1.1rem;
    }
    .percentbar{
        width: 185px;
    }
    .backbtn{
        width: 70px;
        left: 20px;
        top: 3px;
    }
    #ironmanprofile .herophoto .ironmanimg{
        width: 600px;
        margin: 0 80px 25px 0;
    }
    
    #captainamericaprofile .herophoto .captainamericaimg{
        width: 335px;
        margin: 0 190px 0 0;
    }

    #hulkprofile .herophoto .hulkimg{
        width: 500px;
        margin: 0 120px 30px 0;
    }

    #mantisprofile .herophoto .mantisimg{
        width: 700px;
        margin: 0 130px 20px 0;
    }

    #rocketprofile .herophoto .rocketimg{
        width: 600px;
        margin: 0 150px 0 0;
    }

    #spidermanprofile .herophoto .spidermanimg{
        width: 850px;
        margin: 10px 100px 0 0;
    }

    #starlordprofile .herophoto .starlordimg{
        width: 770px;
        margin: 0 100px 0 0;
    }
    #grootprofile .herophoto .grootimg{
        width: 815px;
        margin: 0 120px 50px 0;
    }
    #scarletwitchprofile .herophoto .scarletwitchimg{
        width: 780px;
        margin: 0 155px 30px 0;
    }
    #visionprofile .herophoto .visionimg{
        width: 800px;
        margin: 0 120px 30px 0;
    }
    #thorprofile .herophoto .thorimg{
        width: 800px;
        margin:0 120px 15px 0;
    }
    #wintersoldierprofile .herophoto .wintersoldierimg{
        width: 800px;
        margin: 0 120px 35px 0;
    }
    #ronanprofile .herophoto .ronanimg{
        width: 800px;
        margin: 20px 150px 0 0;
    }
    #deadpoolprofile .herophoto .deadpoolimg{
        width: 800px;
        margin: 0 150px 20px 0;
    }
    #colossusprofile .herophoto .colossusimg{
        width: 780px;
        margin: 0 100px 10px 0;
    }
    #captainmarvelprofile .herophoto .captainmarvelimg{
        width: 800px;
        margin: 0px 145px 35px 0;
    }
    #ironfistprofile .herophoto .ironfistimg{
        width: 750px;
        margin: 0 110px 30px 0;
    }
    #yonduprofile .herophoto .yonduimg{
        width: 780px;
        margin: 0 130px 10px 0;
    }
    #hawkeyeprofile .herophoto .hawkeyeimg{
        width: 770px;
        margin: 0 120px 50px 0;
    }
}
